wget
asyncio
https://github.com/Esther-Lopez/Pyrogram-1.0.7/archive/refs/heads/asyncio.zip
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy
httplib2
pySmartDL
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
